<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Ur Roomie</title>
  </head>
  <body class="register-body">
<!-- Header with logo + sign in --------------------------------------------------->
    <section id="nav-bar">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img src="assets/logo-2.png"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa-solid fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active"href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Accommodation</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#footer">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </section>
<!-- Form fill up section ------------------------------------------------------------------>
    <section id="form-fill">
        <div class="container">
          <h1 class="text-center">Details Form</h1>
          <div class="form-container">
            <form class="row g-3" method="post" action="/register.html">
              <div class="col-md-4">
                <label for="validationCustom01" class="form-label">Owner First name</label>
                <input type="text" class="form-control" name="fname" id="validationCustom01" required>
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>
              <div class="col-md-4">
                <label for="validationCustom02" name="lname" class="form-label">Owner Last name</label>
                <input type="text" class="form-control" id="validationCustom02" required>
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>
              <div class="col-md-4">
                <label for="validationCustomUsername" name="accomodation" class="form-label">Accommodation Name</label>
                <div class="input-group has-validation">
                  <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                  <div class="invalid-feedback">
                    Please choose a username.
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Email</label>
                <input type="email" name="mail_id" class="form-control" id="inputEmail4">
              </div>
              <div class="col-md-6">
                <label for="inputPhone4" class="form-label">Phone</label>
                <input type="phone" name="ph_no" class="form-control" id="inputPhone4">
              </div>
              <div class="col-12">
                <label for="inputAddress" class="form-label">Address</label>
                <input type="text" name="address" class="form-control" id="inputAddress" placeholder="1234 Main St">
              </div>
              <div class="col-md-6">
                <label for="inputCity" class="form-label" >City</label>
                <input type="text" class="form-control" id="inputCity" name="city">
              </div>
              <div class="col-md-4">
                <label for="inputLandmark" class="form-label">Land Mark</label>
                <input type="text" name="landmark" class="form-control" id="inputLandmark">
              </div>
              <div class="col-md-2">
                <label for="inputPin" class="form-label">Pin Code</label>
                <input type="text" class="form-control" name="pincode" id="inputPin">
              </div>
              <div class="col-12">
                <div class="input-group">
                  <span class="input-group-text">About Accommodation</span>
                  <textarea class="form-control" aria-label="With textarea" name="about" placeholder="write about the accommodation"></textarea>
                </div>
              </div>
              <div class="col-md-4">
                <label for="inputRooms" class="form-label">Total Rooms</label>
                <input type="number" class="form-control" name="trooms" id="inputRooms">
              </div>
              <div class="col-md-4">
                <label for="inputCap" class="form-label">Total Capacity</label>
                <input type="number" class="form-control" name="tcapacity" id="inputCap">
              </div>
              <div class="col-md-4">
                <label for="accommodation" class="form-label">Type Of Accommodation</label>
                <select class="form-select" aria-label="Default select example" name="types_accomodation">
                  <option value="1">Mess (with food)</option>
                  <option value="2">Mess (without food)</option>
                  <option value="3">PG (with food)</option>
                  <option value="4">PG (without food)</option>
                  <option value="5">OutHouse (with food)</option>
                  <option value="6">OutHouse (without food)</option>
                </select>
              </div>
              <div class="col-md-4">
                <label for="tenants" class="form-label">Preferred Tenants</label>
                <select class="form-select" aria-label="Default select example" name="preference">
                  <option value="1">Engineering</option>
                  <option value="2">Medical</option>
                  <option value="3">General Degree</option>
                </select>
              </div>
              <div class="col-md-4">
                <label for="gender" class="form-label">Preferred Gender</label>
                <select class="form-select" aria-label="Default select example" name="prefered_gender">
                  <option value="1">Boys Only</option>
                  <option value="2">Girls Only</option>
                  <option value="3">Both</option>
                  <option value="3">Trans</option>
                </select>
              </div>
              <!--Distribution Classify---------------->
              <div class="col-md-12">
                <label for="inputRooms" class="form-label">Distribution of Rooms & Price BreakUp</label>
                <div class="col-md-4">
                  <fieldset class="conditional">
                    <ul>
                      <li>
                        <!-- 1 room 1 persons-------------->
                        <input type="checkbox" id="1r1p" class="control">
                        <label for="1r1p"> 1 Room 1 Person</label>
                        <fieldset class="conditional">
                          <label for="pricebreak">Price BreakUp</label>
                          <input type="radio" id="yes" class="control">
                          <label for="yes">Yes</label>
                          <fieldset class="conditional">
                            <div class="col-md-12">
                              <label for="cookingMasi" class="form-label">Cooking Masi</label>
                              <input type="text" class="form-control" id="cookingMasi">
                            </div>
                            <div class="col-md-12">
                              <label for="cleaningMasi" class="form-label">Cleaning Masi</label>
                              <input type="text" class="form-control" id="cleaningMasi">
                            </div>
                            <div class="col-md-12">
                              <label for="RoomPrice" class="form-label">Room Price</label>
                              <input type="text" class="form-control" id="RoomPrice">
                            </div>
                            <div class="col-md-12">
                              <label for="electricBill" class="form-label">Electric Bill</label>
                              <input type="text" class="form-control" id="electricBill">
                            </div>
                            <div class="col-md-12">
                              <label for="total" class="form-label">Total</label>
                              <input type="text" class="form-control" id="total">
                            </div>
                          </fieldset>
                          <input type="radio" id="no" class="control">
                          <label for="no">No</label>
                        </fieldset>
                      </li>
                    </ul>
                  </fieldset>
                </div>
                <div class="col-md-4">
                  <fieldset class="conditional">
                    <ul>
                      <li>
                      <!-- 1 room 2 persons-------------->
                        <input type="checkbox" id="1r1p" class="control">
                        <label for="1r1p"> 1 Room 2 Persons</label>
                        <fieldset class="conditional">
                          <label for="pricebreak">Price BreakUp</label>
                          <input type="radio" id="yes" class="control">
                          <label for="yes">Yes</label>
                          <fieldset class="conditional">
                            <div class="col-md-12">
                              <label for="cookingMasi" class="form-label">Cooking Masi</label>
                              <input type="text" class="form-control" id="cookingMasi">
                            </div>
                            <div class="col-md-12">
                              <label for="cleaningMasi" class="form-label">Cleaning Masi</label>
                              <input type="text" class="form-control" id="cleaningMasi">
                            </div>
                            <div class="col-md-12">
                              <label for="RoomPrice" class="form-label">Room Price</label>
                              <input type="text" class="form-control" id="RoomPrice">
                            </div>
                            <div class="col-md-12">
                              <label for="electricBill" class="form-label">Electric Bill</label>
                              <input type="text" class="form-control" id="electricBill">
                            </div>
                            <div class="col-md-12">
                              <label for="total" class="form-label">Total</label>
                              <input type="text" class="form-control" id="total">
                            </div>
                          </fieldset>
                          <input type="radio" id="no" class="control">
                          <label for="no">No</label>
                        </fieldset>
                      </li>
                    </ul>
                  </fieldset>
                </div>
                <div class="col-md-4">
                  <fieldset class="conditional">
                    <ul>
                      <li>
                        <!-- 1 room 3 persons-------------->
                        <input type="checkbox" id="1r1p" class="control">
                        <label for="1r1p"> 1 Room 3 Person</label>
                        <fieldset class="conditional">
                          <label for="pricebreak">Price BreakUp</label>
                          <input type="radio" id="yes" class="control">
                          <label for="yes">Yes</label>
                          <fieldset class="conditional">
                            <div class="col-md-12">
                              <label for="cookingMasi" class="form-label">Cooking Masi</label>
                              <input type="text" class="form-control" id="cookingMasi">
                            </div>
                            <div class="col-md-12">
                              <label for="cleaningMasi" class="form-label">Cleaning Masi</label>
                              <input type="text" class="form-control" id="cleaningMasi">
                            </div>
                            <div class="col-md-12">
                              <label for="RoomPrice" class="form-label">Room Price</label>
                              <input type="text" class="form-control" id="RoomPrice">
                            </div>
                            <div class="col-md-12">
                              <label for="electricBill" class="form-label">Electric Bill</label>
                              <input type="text" class="form-control" id="electricBill">
                            </div>
                            <div class="col-md-12">
                              <label for="total" class="form-label">Total</label>
                              <input type="text" class="form-control" id="total">
                            </div>
                          </fieldset>
                          <input type="radio" id="no" class="control">
                          <label for="no">No</label>
                        </fieldset>
                      </li>
                    </ul>
                  </fieldset>
                </div>
                <div class="col-md-6">
                  <label for="total_no" class="form-label">Total</label>
                  <input type="text" placeholder="If the price break is NO" class="form-control" id="total_no" name="total">
                </div>
              </div>
              <!--Facilities------------------------------------------>
              <div class="col-md-3">
                <label for="hospital" class="form-label">Nearest Hospital</label>
                <input type="text" class="form-control" id="hospital" placeholder="Name of the hospital" name="n_hospital">
                <br>
                <input type="number" class="form-control" id="hos_dist" placeholder="Distance in(km)" name="n_hospital_d">
              </div>
              <div class="col-md-3">
                <label for="pharma" class="form-label">Nearest Pharma shop</label>
                <input type="text" class="form-control" id="pharma" placeholder="Name of the pharma shop" name="n_pharma">
                <br>
                <input type="number" class="form-control" id="pharma_dist" placeholder="Distance in(km)" name="n_pharma_d">
              </div>
              <div class="col-md-3">
                <label for="clinic" class="form-label">Nearest Clinic</label>
                <input type="text" class="form-control" id="clinic" placeholder="Name of the Clinic" name="n_clinic">
                <br>
                <input type="number" class="form-control" id="clinic_dist" placeholder="Distance in(km)" name="n_clinic_d">
              </div>
              <div class="col-md-3">
                <label for="market" class="form-label">Nearest MarketPlace</label>
                <input type="text" class="form-control" id="market" placeholder="Name of the MarletPlace" name="n_market">
                <br>
                <input type="number" class="form-control" id="market_dist" placeholder="Distance in(km)" name="n_market_d">
              </div>
              <!--institutes--------------------------------------------->
              <div class="col-md-4">
                <label for="insti1" class="form-label">Nearest Institute 1</label>
                <input type="text" class="form-control" id="insti1" placeholder="Name of the Institute" name="n_institutes1">
                <br>
                <input type="number" class="form-control" id="insti1_dist" placeholder="Distance in(km)" name="n_institutes1_d">
              </div>
              <div class="col-md-4">
                <label for="insti2" class="form-label">Nearest Institute 2</label>
                <input type="text" class="form-control" id="insti2" placeholder="Name of the Institute" name="n_institutes2">
                <br>
                <input type="number" class="form-control" id="insti2_dist" placeholder="Distance in(km)" name="n_institutes2_d">
              </div>
              <div class="col-md-4">
                <label for="insti3" class="form-label">Nearest Institute 3</label>
                <input type="text" class="form-control" id="insti3" placeholder="Name of the Institute" name="n_institutes3">
                <br>
                <input type="number" class="form-control" id="insti3_dist" placeholder="Distance in(km)" name="n_institutes3_d">
              </div>
              <!--Terms n conditions------------------------------------->
              <div class="col-12">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                  <label class="form-check-label" for="invalidCheck">
                    Agree to terms and conditions
                  </label>
                  <div class="invalid-feedback">
                    You must agree before submitting.
                  </div>
                </div>
              </div>
              <div class="col-12 text-center">
                <input type="submit" class="btn btn-primary" value="Register">
              </div>
            </form>
          </div>
        </div>
    </section>
<!-- Footer Section ------------------------------------------------------------------>
    <section id="footer">
      <img src="assets/wave2.png" class="footer-img">
      <div class="container">
        <div class="row">
          <div class="col-md-6 footer-box">
            <img src="assets/logo-2.png" class="footer-logo">
            <p class="name">Ur Roomie</p>
          </div>
          <div class="col-md-6 footer-box">
            <p><b>CONTACT US</b></p>
            <p><i class="fa-solid fa-map-location-dot"></i> Jagendranath Colony, Muratipur - 741235</p>
            <p><i class="fa-solid fa-phone"></i> +91 xxxx89012</p>
            <p><i class="fa-solid fa-envelope"></i> urroomie@gmail.com</p>
          </div>
        </div>
        <hr>
        <p class="copyright">All Rights Reserved. CopyRight <i class="fa-solid fa-copyright"> Ur Roomie</i> 2022</p>
      </div>
    </section>

    <script>
      (() => {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
          form.addEventListener('submit', event => {
            if (!form.checkValidity()) {
              event.preventDefault()
              event.stopPropagation()
            }

            form.classList.add('was-validated')
          }, false)
        })
      })()

    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/373d5d314f.js" crossorigin="anonymous"></script>
  </body>
</html>
